<!doctype html>
<html lang="en">
<head>
  <title>CarZone</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
   {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

        <!-- section-3 -->

        <div class="section-3">
            <div class="container">

             <div class="row">
                <div class="col-md-4">
                    <div class="d-flex flex-row">
                        <i class="fas fa-question fa-3x"></i>
                        <div class="d-flex flex-column">
                            <h3 class="m-2" style="color:rgb(238, 175, 15)">Dealer name</h3>
                            <p class="m-2">1.R. P. Cars
                                            <br>
                                           2.Thillai motors</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                        <div class="d-flex flex-row">
                                <i class="fas fa-seedling fa-3x"></i>
                                <div class="d-flex flex-column">
                                    <h3 class="m-2 " style="color:rgb(238, 175, 15)">Contact number</h3>
                                    <p class="m-2">1.12345678
													<br>
												   2.456679879</p>
                                </div>

                            </div>
                </div>
                <div class="col-md-4">
                        <div class="d-flex flex-row">
                                <i class="fas fa-rocket fa-3x"></i>
                                <div class="d-flex flex-column">
                                    <h3 class="m-2" style="color:rgb(211, 170, 34)">Address</h3>
                                    <p class="m-2">
                                        <br>
                                        <a href="https://www.google.com/maps?opi=89978449&rlst=f&lqi=ChRjYXIgZGVhbGVycyBpbiBzYWxlbUiY6oSw_a2AgAhaKBAAEAEYABgBGAMiFGNhciBkZWFsZXJzIGluIHNhbGVtKgYIAxAAEAGSAQ91c2VkX2Nhcl9kZWFsZXKqAVcKBy9tLzBrNGoQASoPIgtjYXIgZGVhbGVycygAMh8QASIbBl3wdGBwKXwWTQNimoIIe1xrHCwI50mkhxUBMhgQAiIUY2FyIGRlYWxlcnMgaW4gc2FsZW0&phdesc=2J1BCwrfpsI&vet=12ahUKEwiD15iLprv-AhU7UGwGHcZVAEoQ8UF6BAgDEFY..i&lei=z6xCZMOzMrugseMPxquB0AQ&cs=0&um=1&ie=UTF-8&fb=1&gl=in&sa=X&geocode=KV_O4V808Ks7MQjTzGjsRZse&daddr=31,+Tamil+Sangam+Rd,+Sankar+Nagar,+Salem,+Tamil+Nadu+636007 ">R.P.Cars</a>
									<br>
                                    <a href="https://www.google.com/maps/dir//No+43,+Attur+Main+Road,+near+MSK+Kalyana+Mandabam,+Rajaram+Nagar,+Hasthampatti,+Salem,+Tamil+Nadu+636007/@11.6600988,78.0858247,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3babf1fb5af5b061:0x82c2337997cecbea!2m2!1d78.1558653!2d11.6601073 ">Thillai</a>
                                    </p>
								</div>

                            </div>
                </div>
             </div>
             </div>
             </div>
